<div class="row">
    <div class="ms-3 card card-body border-0 shadow mb-4 me-4">
        <h2 class="h4 mb-4">Deliveries <i class="fas fa-motorcycle ms-1"></i></h2>
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-3">
                <label for="gender">Número de orden </label>
                <div class="input-group">
                    <input class="form-control" [(ngModel)]="filtroNombres" (input)="filtrar()" aria-label="Buscar">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>F. Desde</label>
                <input class="form-control" type="date" [(ngModel)]="fechaDesde">
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>F. Hasta</label>
                <input class="form-control" type="date" [(ngModel)]="fechaHasta">
            </div>
            <div class="col-lg-2 col-sm-6 mb-3 ">
                <br>
                <button class="mx-2 btn btn btn-success mt-2" (click)="mostrarDeliveries()"> <i class="fas fa-search text-white"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col ">N° Orden</th>
                        <th scope="col ">Monto</th>
                        <th scope="col ">Descripcion</th>
                        <th scope="col ">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let delivery of listaDeliveriesFiltrada | paginate: { itemsPerPage: registrosPorPagina, currentPage: paginaActual } ">
                        <td>{{delivery.numero_factura}}</td>
                        <td>${{delivery.valor}}</td>
                        <small>
                            <div class="fixed-column truncate" style="width: 150px;">{{delivery.comentarios}}
                            </div>
                        </small>
                        <td>
                            <button class="btn btn-danger btn-sm" role="button" (click)="eliminarDelivery(delivery.id_entrega)"><i class="fas fa-trash "></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination ">
                <pagination-controls (pageChange)="paginaActual=$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>