<div class="row">
    <div class="card card-body border-0 shadow mb-4 ms-3 me-4">
        <h4 class="mb-4"><i class="fas fa-cash-register"></i> Ordenes Pagadas</h4>
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-3">
                <label for="gender">Cliente </label>
                <div class="input-group">
                    <input class="form-control" [(ngModel)]="filtroNombres" (input)="filtrar()" aria-label="Buscar">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>T. Pedido</label>
                <select class="form-select mb-0" [(ngModel)]="filtroTipoPedido" (ngModelChange)="filtrar()">
                    <option value="S">
                        Servirse </option>
                    <option value="L">
                        Para Llevar
                    </option>
                    <option value="P">
                        Pedidos Ya!
                    </option>
                </select>
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>F. Desde</label>
                <input class="form-control" [disabled]="validarRol" type="date" [(ngModel)]="fechaDesde">
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>F. Hasta</label>
                <input class="form-control" [disabled]="validarRol" type="date" [(ngModel)]="fechaHasta">
            </div>
            <div class="col-lg-2 col-sm-6 mb-3 ">
                <br>
                <button class="mx-2 btn btn btn-success mt-2" (click)="mostrarOrdenPagadas()"> 
                    <i class="fas fa-search text-white"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col ">N° Orden</th>
                        <th scope="col ">Cliente</th>
                        <th scope="col ">Total</th>
                        <th scope="col ">T. Pedido</th>
                        <th scope="col ">Fecha</th>
                        <th scope="col ">Fecha Pagada</th>
                        <th scope="col ">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of listaOrdenPagadasFilt | paginate: { itemsPerPage: registrosPorPagina, currentPage: paginaActual } ">
                        <td><small>{{orden.numero_factura}}</small></td>
                        <td><small>{{orden.nombre_cliente}}</small></td>
                        <td>{{orden.total}}</td>
                        <td *ngIf="orden.tipo_pedido == 'S' ">Servirse</td>
                        <td *ngIf="orden.tipo_pedido == 'L' ">LLevar</td>
                        <td *ngIf="orden.tipo_pedido == 'P' ">Pedidos Ya!</td>
                        <td>{{orden.fecha}}</td>
                        <td>{{orden.update_at}}</td>

                        <td>
                            <button data-bs-toggle="modal" data-bs-target="#modal-pagoSeleccTotal" (click)="mostrarAbonos(orden.id_factura) " class="btn btn-correo btn-sm " role="button "><i class="fas fa-file-invoice-dollar "></i></button>
                            <button class="mx-2 btn btn-correo btn-sm " (click)="mostrarDetallesOrden(orden) " role="button "><i class="fas fa-receipt"></i></button>
                            <button class=" btn btn-danger btn-sm " (click)="eliminarOrden(orden.id_factura) " role="button "><i class="fas fa-trash "></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination ">
                <pagination-controls (pageChange)="paginaActual=$event"></pagination-controls>
            </div>
        </div>

        <div class="modal fade" data-bs-backdrop="static" id="modal-pagoSeleccTotal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="h6 modal-title"> Abonos
                            </h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive ">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col ">Abono</th>
                                            <th scope="col ">Tipo Pago</th>
                                            <th scope="col ">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let orden of listaOrdenAbonos">
                                            <td><small>${{orden.valor}}</small></td>
                                            <td>
                                                <small>{{ orden.tipo_pago === 'T' ? 'Transferencia' : orden.tipo_pago === 'E' ? 'Efectivo' : '' }}</small>
                                                <td>
                                                    <button class="btn btn-warning btn-sm " (click)="cambiarTipoPago(orden) " role="button ">
                                                        <i class="fas fa-exchange-alt"></i></button>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>