<section>
    <nav class="nav me-3">
        <ul>
            <li>
                <label>
                    <input type="radio" [(ngModel)]="opcion" name="option" value="1"> Módulos
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" [(ngModel)]="opcion" name="option" value="2"> Submódulos
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" [(ngModel)]="opcion" name="option" value="3"> Items
                </label>
            </li>
        </ul>
    </nav>

    <div *ngIf="opcion == '1'">
        <app-modulos></app-modulos>
    </div>
    <div *ngIf="opcion == '2'">
        <app-submodulos></app-submodulos>
    </div>
    <div *ngIf="opcion == '3'">
        <app-items></app-items>
    </div>
</section>