.custom-select {
    position: relative;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.form-control {
    margin-bottom: 10px;
}

.horizontal-group {
    display: flex;
    /* Usamos flexbox para alinearlos horizontalmente */
    align-items: center;
    /* Alineación vertical centrada */
    gap: 3px;
    /* Espacio entre los elementos */
}

.formControlPersonality {
    display: block;
    /* Ancho fijo */
    padding: 0.375rem 0.75rem;
    font-size: 0.80rem;
    font-weight: 100;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControlPersonality:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.formControlPersonality:hover {
    border-color: #86b7fe;
}

.resumen-factura {
    border: 2px solid #ddd; /* Borde del cuadro */
    border-radius: 5px;    /* Bordes redondeados */
    padding: 15px;          /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 380px;
}

.contenido-resumen {
    line-height: 1.6; /* Espaciado entre líneas */
}

.total-destacado {
    background-color: #007bff; /* Azul */
    color: white;              /* Letras blancas */
    font-weight: bold;         /* Texto en negrita */
    padding: 10px;             /* Espaciado interno */
    margin-top: 5px;          /* Espaciado superior */
    text-align: center;        /* Centrar texto */
    border-radius: 5px;        /* Bordes redondeados */
    font-size: 1.5rem;
}
.bg-table {
    background-color: #86a9c14f;
}