<div *ngIf="ordenService.tipoPedido">
    <app-slide-productos></app-slide-productos>
</div>

<div class="row">
    <div class="card card-body border-0 shadow mb-4 ms-3 me-4">
        <h4 class="mb-4"><i class="fas fa-concierge-bell"></i> Orden N°{{numeroOrden}}</h4>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-3">
                <label for="gender">Cliente </label>
                <div class="input-group">
                    <input class="form-control" [(ngModel)]="cliente" aria-label="Buscar">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>T. Pedido</label>
                <select class="form-select mb-0" [(ngModel)]="ordenService.tipoPedido">
                    <option value="S">
                        Servirse </option>
                    <option value="L">
                        Para Llevar
                    </option>
                    <option value="P">
                        Pedidos Ya!
                    </option>
                </select>
            </div>
            <div class="col-lg-2 col-sm-6 mb-3">
                <label>Fecha</label>
                <input class="form-control" type="date" [(ngModel)]="fecha">
            </div>
            <div class="col-lg-4 col-sm-6 mb-3 mt-2">
                <br>
                <button class="mx-2 btn btn-success btn-sm text-white" (click)="crearOrden()"> <i class="fas fa-save fa-lg"></i> </button>

            </div>
        </div>
        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col ">Producto</th>
                        <th scope="col ">Precio</th>
                        <th scope="col ">Cantidad</th>
                        <th scope="col ">Subtotal</th>
                        <th scope="col ">Comentarios</th>
                        <th scope="col ">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of listaOrdenProductos">
                        <td>{{producto.nombre_producto}}</td>
                        <td>${{producto.precio}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>${{producto.subtotal}}</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#modal-infComentarios" (click)="infComentarios(producto.comentarios)">
                                <small>
                                    <div class="fixed-column truncate" style="width: 200px;">{{producto.comentarios}}
                                    </div>
                                </small>
                            </a>
                        </td>

                        <td>
                            <button class="btn btn-danger btn-sm " role="button" (click)="eliminarProducto(producto.id)"><i class="fas fa-trash "></i></button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            <h5>Total</h5>
                        </th>
                        <th>
                            <h5>${{ calcularTotal().toFixed(2) }}</h5>
                        </th>
                    </tr>

                </tfoot>
            </table>

        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal-infComentarios" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title"> Comentarios
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-12 col-sm-6">
                                    <div>
                                        <label>{{infoComentarios}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>