.bg-lightblue {
    background-color: #e8f4ff;
}

.bg-superlightblue {
    background-color: #f4faff;
}

.bg-system {
    background-color: #03466e;
}

/* Contenedor del icono con tooltip */
.comments {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Caja de comentarios oculta inicialmente */
.comments .comments-box {
    visibility: hidden;
    opacity: 0;
    background-color: #333333da;
    backdrop-filter: blur(8px);
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    /* Ajusta para cambiar la posición del tooltip */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
    width: 220px;
    font-size: 12px;
}

/* Flecha decorativa del tooltip */
.comments .comments-box::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333da transparent transparent transparent;
}

/* Mostrar la caja de comentarios al pasar el cursor */
.comments:hover .comments-box {
    visibility: visible;
    opacity: 1;
}