<section *ngIf="permission_read" class="me-3">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Stock <i class="fas fa-tasks"></i></h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-9">
                            <!--<button class="btn btn-danger" title="Descargar pdf" (click)="rptRolesList(1)"
                                *ngIf="generate_reports">
                                <i class="fas fa-file-pdf"></i>
                            </button>
                            <button class="ms-1 btn btn-primary" title="Imprimir" (click)="rptRolesList(2)"
                                *ngIf="generate_reports">
                                <i class="fas fa-print"></i>
                            </button>-->
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="search" placeholder="Buscar" (input)="Search()"
                                [(ngModel)]="search">
                        </div>
                    </div>
                    <div>
                        <p> {{ countRangeRegister() }} </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Producto</th>
                                    <th>Existencia</th>
                                </tr>
                            </thead>
                            <app-spinner-component *ngIf="loading"></app-spinner-component>
                            <tbody>
                                <tr
                                    *ngFor="let stock of stockFilter | paginate: { itemsPerPage: recordPerPage, currentPage: currentPage }; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ stock.nombreProducto }}</td>
                                    <td>{{ stock.cantidad }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pagination">
                            <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div *ngIf="permission_read == false">
    <div class="alert alert-danger" role="alert">
        Access denied! You do not have the necessary permissions to view this module.
    </div>
</div>