<footer class="bg-white rounded shadow p-2 mb-4 mt-4 me-3">
    <div class="row">
        <div class>
            <div class="col-6 text-start">
                <p class="mb-0">
                    <strong class="text-muted">
                        <strong>Develoment by:</strong>
                    </strong> 
                   
                    <small>
                        Aurora Computer System
                    </small>
                    &copy;
                </p>
            </div>
        </div>
    </div>
</footer>