<section *ngIf="permission_read" class="me-3">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Lista de clientes </h1>
        <button class="btn btn-success text-white" (click)="openModalCreate()" *ngIf="permission_create">
            Registrar
            <i class="fas fa-user-friends"></i>
        </button>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-9">
                            <!--<button class="btn btn-danger" title="Descargar pdf" (click)="rptRolesList(1)"
                                *ngIf="generate_reports">
                                <i class="fas fa-file-pdf"></i>
                            </button>
                            <button class="ms-1 btn btn-primary" title="Imprimir" (click)="rptRolesList(2)"
                                *ngIf="generate_reports">
                                <i class="fas fa-print"></i>
                            </button>-->
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="search" placeholder="Buscar" (input)="Search()"
                                [(ngModel)]="search">
                        </div>
                    </div>
                    <div>
                        <p> {{ countRangeRegister() }} </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombres y apellidos</th>
                                    <th>Número de identidad</th>
                                    <th>Tipo de identidad</th>
                                    <th>telefono</th>
                                    <th>Dirección</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <app-spinner-component *ngIf="loading"></app-spinner-component>
                            <tbody>
                                <tr
                                    *ngFor="let cliente of clientesFilter | paginate: { itemsPerPage: recordPerPage, currentPage: currentPage }; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ cliente.nombres + ' ' + cliente.apellidos }}</td>
                                    <td>{{ cliente.numeroIdentificacion }}</td>
                                    <td>{{ cliente.identificacion }}</td>
                                    <td>{{ cliente.telefono }}</td>
                                    <td>{{ cliente.direccion }}</td>

                                    <td>
                                        <span *ngIf="cliente.estado == 'Activo' else elseBlock">
                                            {{ cliente.estado }} <i class="fas fa-circle fa-sm text-success"></i>
                                        </span>
                                        <ng-template #elseBlock>
                                            <span>
                                                {{ cliente.estado }} <i class="fas fa-circle fa-sm text-danger"></i>
                                            </span>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <button class="ms-1 btn btn-info btn-sm" title="Ver"
                                            (click)="openModalSee(cliente.id)" *ngIf="permission_read">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <button class="ms-1 btn btn-info btn-sm" title="Editar"
                                            (click)="openModalEdit(cliente.id)" *ngIf="permission_update">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="ms-1 btn btn-danger btn-sm" title="Eliminar"
                                            (click)="delete(cliente.id)" *ngIf="permission_delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pagination">
                            <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal to new -->
    <div bsModal #ModalNew="bs-modal" class="modal fade" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h3 class="modal-title text-white fs-2 fw-bolder">
                        <i class="fas fa-user-friends"></i> Registrar cliente
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        (click)="ModalNew.hide(); resetForm()">
                    </button>
                </div>

                <div class="modal-body">
                    <form id="form-CreateRol" class="form-horizontal" (submit)="create()">
                        <p class="text-success">
                            Los campos con asterisco (<span class="required">*</span>) son obligatorios.
                        </p>

                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Nombres *</label>
                                            <input class="form-control " type="text" 
                                            name="nombres" 
                                            [(ngModel)]="newCliente.nombres">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Apellidos *</label>
                                            <input class="form-control " type="text" 
                                            name="apellidos" 
                                            [(ngModel)]="newCliente.apellidos">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="mb-3 ">
                                            <label>Tipo de identidad *</label>
                                            <select class="form-control" name="identificacion_id" 
                                                [(ngModel)]="newCliente.identificacion_id"
                                                required>
                                                <option value="0" class="d-none">Selecciona tipo de identidad</option>
                                                <option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.id">
                                                    {{tipo.identificacion}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Número de identidad *</label>
                                            <input class="form-control " type="text" 
                                            name="numeroIdentidad" 
                                            [(ngModel)]="newCliente.numeroIdentificacion">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Telefono</label>
                                            <input class="form-control " type="text" 
                                            name="telefono" 
                                            [(ngModel)]="newCliente.telefono">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3 ">
                                            <label>Correo electrónico</label>
                                            <input class="form-control " type="email" 
                                            name="email" 
                                            [(ngModel)]="newCliente.email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3 ">
                                            <label>Dirección</label>
                                            <input class="form-control " type="text" 
                                            name="direccion" 
                                            [(ngModel)]="newCliente.direccion">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success text-white">Guardar</button>
                            <button type="button" class="btn btn-secondary"
                                (click)="ModalNew.hide(); resetForm()">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal to Edit -->
    <div bsModal #ModalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h3 class="modal-title text-white fs-2 fw-bolder">
                        <i class="fas fa-edit"></i> Editar cliente
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        (click)="ModalEdit.hide(); resetForm()">
                    </button>
                </div>

                <div class="modal-body">
                    <form #formUpdateRol="ngForm" id="form-UpdateRol" class="form-horizontal" (submit)="edit(id)">
                        <p class="text-info">
                            Los campos con asterisco (<span class="required">*</span>) son obligatorios.
                        </p>

                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Nombres *</label>
                                            <input class="form-control " type="text" 
                                            name="nombres" 
                                            [(ngModel)]="nombres">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Apellidos *</label>
                                            <input class="form-control " type="text" 
                                            name="apellidos" 
                                            [(ngModel)]="apellidos">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="mb-3 ">
                                            <label>Tipo de identidad *</label>
                                            <select class="form-control" name="identificacion_id" 
                                                [(ngModel)]="identificacion_id"
                                                required>
                                                <option value="0" class="d-none">Selecciona tipo de identidad</option>
                                                <option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.id">
                                                    {{tipo.identificacion}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Número de identidad *</label>
                                            <input class="form-control " type="text" 
                                            name="numeroIdentidad" 
                                            [(ngModel)]="numeroIdentificacion">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <label>Telefono</label>
                                            <input class="form-control " type="text" 
                                            name="telefono" 
                                            [(ngModel)]="telefono">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3 ">
                                            <label>Correo electrónico</label>
                                            <input class="form-control " type="email" 
                                            name="email" 
                                            [(ngModel)]="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3 ">
                                            <label>Dirección</label>
                                            <input class="form-control " type="text" 
                                            name="direccion" 
                                            [(ngModel)]="direccion">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="mb-3 ">
                                            <label>Estado *</label>
                                            <select class="form-control" name="estado" 
                                                [(ngModel)]="estado"
                                                required>
                                                <option value="Activo">Activo</option>
                                                <option value="Inactivo">Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Editar</button>
                            <button type="button" class="btn btn-secondary"
                                (click)="ModalEdit.hide(); resetForm()">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal to see -->
    <div bsModal #ModalSee="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h3 class="modal-title text-white fs-2 fw-bolder">
                        <i class="fas fa-info-circle"></i> Información de cliente
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        (click)="ModalSee.hide()">
                    </button>
                </div>

                <div class="modal-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><b>Nombres</b></td>
                                <td>{{nombres}}</td>
                            </tr>
                            <tr>
                                <td><b>Apellidos</b></td>
                                <td>{{apellidos}}</td>
                            </tr>
                            <tr>
                                <td><b>Tipo de identidad</b></td>
                                <td>{{tipoIdentificacion}}</td>
                            </tr>
                            <tr>
                                <td><b>N° Identidad</b></td>
                                <td>{{numeroIdentificacion}}</td>
                            </tr>
                            <tr>
                                <td><b>Telefono</b></td>
                                <td>{{telefono}}</td>
                            </tr>
                            <tr>
                                <td><b>Correo electrónico</b></td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td><b>Dirección</b></td>
                                <td>{{direccion}}</td>
                            </tr>
                            <tr>
                                <td><b>Estado</b></td>
                                <td id="view-rol">
                                    <span *ngIf="estado == 'Activo' else elseBlock">
                                        {{estado}} <i class="fas fa-circle fa-sm text-success"></i>
                                    </span>
                                    <ng-template #elseBlock>
                                        <span>
                                            {{estado}} <i class="fas fa-circle fa-sm text-danger"></i>
                                        </span>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="ModalSee.hide()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="permission_read == false">
    <div class="alert alert-danger" role="alert">
        Access denied! You do not have the necessary permissions to view this module.
    </div>
</div>